services/quetzal_test/step-functions-ecs.json
{
    "StartAt": "Authorization",
    "States": {
        "Authorization": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "OutputPath": "$.Payload",
            "Parameters": {
                "Payload": {
                    "authorization.$": "$.authorization",
                    "model": "quetzal-test",
                    "choice.$": "$.choice",
                    "scenario_path_S3.$": "$.scenario_path_S3",
                    "launcher_arg.$": "$.launcher_arg",
                    "metadata.$": "$.metadata"
                },
                "FunctionName": "arn:aws:lambda:ca-central-1:142023388927:function:quetzal-api-auth:$LATEST"
            },
            "Retry": [
                {
                    "ErrorEquals": [
                        "Lambda.ServiceException",
                        "Lambda.SdkClientException",
                        "Lambda.TooManyRequestsException"
                    ],
                    "IntervalSeconds": 2,
                    "MaxAttempts": 2,
                    "BackoffRate": 2
                },
                {
                    "ErrorEquals": [
                        "Lambda.AWSLambdaException"
                    ],
                    "IntervalSeconds": 30,
                    "MaxAttempts": 4,
                    "BackoffRate": 2
                }
            ],
            "Next": "test 1"
        },
        "test 1": {
            "Type": "Task",
            "Resource": "arn:aws:states:::ecs:runTask.sync",
            "InputPath": "$",
            "ResultPath": "$.ecs_result",
            "Parameters": {
                "LaunchType": "FARGATE",
                "Cluster": "arn:aws:ecs:ca-central-1:142023388927:cluster/quetzal-test",
                "TaskDefinition": "arn:aws:ecs:ca-central-1:142023388927:task-definition/quetzal-test-task",
                "Overrides": {
                    "ContainerOverrides": [
                        {
                            "Name": "quetzal-test",
                            "Environment": [
                                {
                                    "Name": "notebook_path",
                                    "Value": "notebooks/2_model/test_1.ipynb"
                                },
                                {
                                    "Name": "model",
                                    "Value": "quetzal-test"
                                },
                                {
                                    "Name": "scenario_path_S3",
                                    "Value.$": "$.scenario_path_S3"
                                },
                                {
                                    "Name": "launcher_arg",
                                    "Value.$": "States.JsonToString($.launcher_arg)"
                                },
                                {
                                    "Name": "METADATA",
                                    "Value.$": "States.JsonToString($.metadata)"
                                }
                            ]
                        }
                    ]
                },
                "NetworkConfiguration": {
                    "AwsvpcConfiguration": {
                        "Subnets": [
                            "subnet-04ff36f2b80327321"
                        ],
                        "SecurityGroups": [
                            "sg-087728e78f1a2c4c2"
                        ],
                        "AssignPublicIp": "ENABLED"
                    }
                }
            },
            "Next": "test 2"
        },
        "test 2": {
            "Type": "Task",
            "Resource": "arn:aws:states:::ecs:runTask.sync",
            "InputPath": "$",
            "ResultPath": "$.ecs_result",
            "Parameters": {
                "LaunchType": "FARGATE",
                "Cluster": "arn:aws:ecs:ca-central-1:142023388927:cluster/quetzal-test",
                "TaskDefinition": "arn:aws:ecs:ca-central-1:142023388927:task-definition/quetzal-test-task",
                "Overrides": {
                    "ContainerOverrides": [
                        {
                            "Name": "quetzal-test",
                            "Environment": [
                                {
                                    "Name": "notebook_path",
                                    "Value": "notebooks/2_model/test_2.ipynb"
                                },
                                {
                                    "Name": "model",
                                    "Value": "quetzal-test"
                                },
                                {
                                    "Name": "scenario_path_S3",
                                    "Value.$": "$.scenario_path_S3"
                                },
                                {
                                    "Name": "launcher_arg",
                                    "Value.$": "States.JsonToString($.launcher_arg)"
                                },
                                {
                                    "Name": "METADATA",
                                    "Value.$": "States.JsonToString($.metadata)"
                                }
                            ]
                        }
                    ]
                },
                "NetworkConfiguration": {
                    "AwsvpcConfiguration": {
                        "Subnets": [
                            "subnet-04ff36f2b80327321"
                        ],
                        "SecurityGroups": [
                            "sg-087728e78f1a2c4c2"
                        ],
                        "AssignPublicIp": "ENABLED"
                    }
                }
            },
            "End": true
        }
    }
}